name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y wget unzip xrdp openssh-server

    - name: Download ngrok
      run: wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip -O ngrok.zip

    - name: Extract ngrok
      run: unzip ngrok.zip

    - name: Authenticate ngrok
      run: ./ngrok authtoken 2Hd7yeF4INCKbg2aP9rGMLnDqBX_5K7WhATjW8eUxS6UoHSRa

    - name: Enable TS
      run: sudo sed -i 's/^#\(.*xrdp.*\)/\1/' /etc/xrdp/xrdp.ini

    - name: Start xrdp service
      run: sudo service xrdp start

    - name: Set user password
      run: echo "runneradmin:Rabiu2004@" | sudo chpasswd

    - name: Enable SSH access
      run: sudo systemctl enable ssh && sudo systemctl start ssh

    - name: Create Tunnel
      run: ./ngrok/ngrok tcp 3389
